{% extends "layouts/game.twig" %}

{% block title %}{{ village.name }}{% endblock %}

{% block content %}
    
    <div class="buildings">
        <ul>
            {% for building in village.buildings if building.pivot.building_level > 0 %}
                <li>
                    <a href="{{ path_for('building.' ~ building.type, {id: village.id}) }}">{{ building.name }}</a>
                </li>
            {% endfor %}
            <li>
                <a href="{{ path_for('map') }}">Mapa</a>
            </li>
            <li>
                <a href="{{ path_for('reports', {id: village.id}) }}">Raporty</a>
            </li>
        </ul>
    </div>

{% endblock content %}

{% block js %}
    <script src="{{ base_url() }}/dist/js/village.min.js"></script>
{% endblock js %}