<div class="sidebar">
    {% if village %}
        <a href="{{ path_for('villages.show', {id: village.id}) }}" class="header">{{ village.name }}</a>
        <div class="section">
            <ul class="properties">
                <li>
                    <div>gold</div>
                    <div id="gold">{{ village.gold }}</div>
                </li>
                <li>
                    <div>food</div>
                    <div id="food">{{ village.food }}</div>
                </li>
            </ul>
        </div>
    {% else %}
        {% for village in auth.user.villages %}
            <a href="{{ path_for('villages.show', {id: village.id}) }}" class="header">{{ village.name }}</a>

            <div class="section timings">
                {% for expedition in village.expeditions %}
                    <div class="timing">
                        <div class="name">{{ expedition.receiver.name }}</div>
                        <div class="time">{{ expedition.reach_at | date('H:i:s') }}</div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}

    <div id="building" class="section timings">
        {# <div class="timing">
            <div class="name">Twierdza</div>
            <div class="time">10s</div>
        </div>
        <div class="timing">
            <div class="name">Koszary</div>
            <div class="time">10s</div>
        </div>
        <div class="timing">
            <div class="name">Kopalnia złota</div>
            <div class="time">10s</div>
        </div> #}
    </div>

    <div id="army" class="section timings"></div>

    <a href="{{ path_for('map') }}" class="map">mapa</a>
</div>