{% extends "layouts/game.twig" %}

{% block title %}{{ building.name }}{% endblock title %}

{% block content %}
    <div class="alert alert-secondary mb-3">
        Ulepszanie <span class="{{ building.color }}">{{ building.name }}</span> pozwala na rekrutację jednostek
    </div>

    <table class="table recruitment">
        <thead>
            <tr class="header">
                <th>jednostka</th>
                <th>posiadane</th>
                <th>koszt</th>
                <th>czas</th>
                <th>liczba</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for army in armies %}
                <tr>
                    <td>
                        {{ army.name }}
                        {% for requirement in army.requirements %}
                            <p class="secondary small my-2">{{ requirement.building.name }} {{ requirement.level }}</p>
                        {% endfor %}
                    </td>
                    <td>
                        {{ army.pivot.amount }}
                        <div class="secondary small">
                            <p class="my-2">siła: {{ army.power }}</p>
                            <p class="my-2">obrona: {{ army.defense }}</p>
                            <p class="my-2">ładowność: {{ army.capacity }}</p>
                        </div>
                    </td>
                    <td id="army-cost-{{ army.id }}">{{ army.cost }}</td>
                    <td id="army-time-{{ army.id }}">{{ army.time }}</td>
                    <td><input id="input-{{ army.id }}" type="text" value="1" data-army-id="{{ army.id }}" data-cost="{{ army.cost }}" data-time="{{ army.time }}"></td>
                    <td>
                        <button class="btn btn-secondary recruit-button" data-village-id="{{ village.id }}" data-army-id="{{ army.id }}">rekrutuj</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block js %}
    <script src="{{ base_url() }}/dist/js/village.min.js"></script>
{% endblock js %}
