{% extends "layouts/game.twig" %}

{% block title %}{{ fortress.name }}{% endblock title %}

{% block content %}
    <div class="alert alert-secondary mb-3">
        Ulepszanie <span class="{{ fortress.color }}">{{ fortress.name }}</span> pozwala na rozwijanie budowli
    </div>

    <table class="table">
        <thead>
            <tr class="header">
                <th>nazwa</th>
                <th>level</th>
                <th>koszt ulepszenia</th>
                <th>Czas (sekundy)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for building in buildings %}
                <tr id="building_{{ building.id }}">
                    <td class="name">
                        <a href="{{ path_for('building.' ~ building.type, {id: village.id}) }}">{{ building.name }}</a><br>
                        <div class="requirements">
                            {% for requirement in building.requirementsByLevel %}
                                <p class="secondary small my-2">{{ requirement.building.name }} {{ requirement.level }}</p>
                            {% endfor %}
                        </div>
                    </td>
                    <td class="level">{{ building.pivot.building_level }}</td>
                    <td class="cost">{{ building.cost_upgrade }}</td>
                    <td class="time">{{ building.time }}</td>
                    <td class="text-center">
                        <button class="btn btn-secondary upgrade-building" data-building-id="{{ building.id }}" data-village-id="{{ village.id }}">
                            <span>{{ building.pivot.building_level > 0 ? 'Ulepsz' : 'Rozbuduj' }}</span>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block js %}
    <script src="{{ base_url() }}/dist/js/village.min.js"></script>
{% endblock js %}
