{% extends "layouts/game.twig" %}

{% block title %}{{ building.name }}{% endblock title %}

{% block content %}
    <div class="alert alert-secondary">
        <p>
            Ulepszanie <span class="{{ building.color }}">{{ building.name }}</span> przyśpiesza zdobywanie złota
        </p>

        <div>
            {{ building | json_encode }}
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="{{ base_url() }}/dist/js/village.min.js"></script>
{% endblock js %}
